@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100&family=Paytone+One&display=swap");
.explore {
  /* EXPLORE YOUR COMMUNITY DIGITALLY */
  position: absolute;
  width: 1055px;
  height: 830px;
  left: 108px;
  top: 115px;

  font-family: "Paytone One";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 179px;
  align-items: center;

  color: #0f0f0f;
}
